{% extends 'base.html' %}

{% block content %}

<div>
    <table class="table table-striped">
  <thead>
  <table class="table caption-top mx-auto">
  <caption>
      <l1 class="fs-3 text-dark">List of Users</l1>
  </caption>
    <tr class="text-danger">
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Mobile Number</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for customers in all_customers %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{customers.first_name}}</td>
                <td>{{customers.last_name}}</td>
                <td>{{customers.phone}}</td>
                <td>{{customers.email}}</td>
                <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
                <td><a class="btn btn-primary" href="#" role="button">Delete</a></td>


            </tr>
    {% endfor %}
  </tbody> 
    </table>

</div>
{% endblock %}